[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
pylint = "*"
pylint-fail-under = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
behave = "*"

[packages]
click = "*"
pyyaml = "*"
psycopg2-binary = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
unidecode = "*"
fastapi = "*"
uvicorn = "*"
pytz = "*"
aiohttp = "*"
email-validator = "*"
pandas = "*"
python-levenshtein = "*"
fuzzywuzzy = "*"
asyncpg = "*"

[requires]
python_version = "3.7"
